.Statistics {
  color: teal;
  font-weight: bold;
  font-size: 20px;
}

.good,
.neutral,
.bad {
  color: teal;
}

/* .neutral {
  color: green;
}

.bad {
  color: lightslategray;
} */

.total {
  margin-top: 40px;
  color: lightcoral;
}

.feedback {
  color: rgba(185, 57, 104, 0.934);
}
